body{
	background-color: #FFC;
	margin: 0;
}

.navBar{
	margin-top: 0%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	padding: 0px;
}
ul.bar {
	list-style-type: none;
	background-color: #CCC;
	overflow: hidden;
	display: inline-block;
	padding: 0px;
	border: 2px solid #000;
}
li.button {
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}
li.button a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	text-align: center;
	padding: 20px;
}
li.button .active {
	background-color: #C00;
	
}
li.button a:hover {
    background-color: gray;
}

.date{
	
	
}
p.date{
	background-color: red;
	padding: 20px;
	
}